@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+Dives+Akuru&display=swap');

#size-test>li:nth-child(1){font-size: 24px;}
#size-test>li:nth-child(2){font-size: 18pt;}
#size-test>li:nth-child(3){font-size: 100%;}
#size-test>li:nth-child(4){font-size: 1em;}

#weight-test>li{font-size:34px;}
#weight-test>li:nth-child(1){font-weight: 100;}
#weight-test>li:nth-child(2){font-weight: bold;} /* 700 */
#weight-test>li:nth-child(3){font-weight: 900;}
#weight-test>li:nth-child(4){font-weight: bolder;}
#weight-test>li:nth-child(5){font-weight: lighter;}

.cls>li {font-size:24px}

#family-test1>li:nth-child(1){
    font-family: '궁서';
}

#family-test1>li:nth-child(2){
    font-family: 'ㅁㄴㅇㄹ','ㅂㅈㄷㄱ','굴림체','궁서체';
}

/* HTML로 link 태그를 이용해 웹폰트 추가 */
#family-test2>li:nth-child(1){
    /* font-family: 'Noto Sans KR'; */
    font-family: "Noto Serif Dives Akuru", serif;
}

/* import로 웹폰트 추가 */
#family-test2>li:nth-child(2){
    font-family: 'Noto Sans KR';
}

#family-test2>li:nth-child(3){
    font-family: "Noto Serif Dives Akuru", serif;
}
















































